# Binaries
**/bin/
!vendor/premake/bin/
bin-int/

# Ember files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Profiling files
EmberProfile-Runtime.json
EmberProfile-Shutdown.json
EmberProfile-Startup.json
